body{
    font-family: Arial, Helvetica, sans-serif;
    background:#f3f5f9;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:100vh;
    margin:0;
}

/* Logo */
.logo{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:25px;
}

.icone{
    background:#2b6ef2;
    color:white;
    padding:8px;
    border-radius:6px;
}

.logo h2{
    margin:0;
}

/* Login */
.login-container{
    background:white;
    padding:30px;
    width:350px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.login-container h2{
    text-align:center;
    margin-bottom:5px;
}

.subtitulo{
    text-align:center;
    font-size:14px;
    color:gray;
    margin-bottom:20px;
}

/* Form */
form{
    display:flex;
    flex-direction:column;
}

label{
    margin-top:10px;
    font-size:14px;
}

input{
    margin-top:5px;
    padding:10px;
    border:1px solid #ccc;
    border-radius:6px;
}

/* Esqueceu senha */
.esqueceu{
    text-align:right;
    margin-top:8px;
}

.esqueceu a{
    font-size:12px;
    text-decoration:none;
    color:#2b6ef2;
}

/* Botão */
button{
    margin-top:20px;
    padding:12px;
    border:none;
    background:#2b6ef2;
    color:white;
    font-size:16px;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    background:#1d4ed8;
}

/* Cadastro */
.cadastro{
    text-align:center;
    margin-top:15px;
    font-size:14px;
}

.cadastro a{
    color:#2b6ef2;
    text-decoration:none;
}