body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f7fa;
  margin:0;
  padding:0;
}

/* Topo */
header{
  padding:20px;
  background:white;
  border-bottom:1px solid #ddd;
}

header h2{
  color:#2b7cff;
}

/* Titulo */
.titulo{
  text-align:center;
  margin-top:40px;
}

.titulo h1{
  font-size:36px;
}

.titulo p{
  color:gray;
}

/* Cursos */
.cursos{
  display:flex;
  justify-content:center;
  gap:40px;
  margin-top:40px;
}

/* Card */
.card{
  width:320px;
  background:white;
  border-radius:10px;
  box-shadow:0px 4px 10px rgba(0,0,0,0.1);
  padding-bottom:20px;
}

.card img{
  width:100%;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}

/* Tag */
.tag{
  background:#eee;
  font-size:12px;
  padding:5px 10px;
  margin:15px;
  display:inline-block;
  border-radius:5px;
}

.card h3{
  margin:10px 15px;
}

.card p{
  margin:10px 15px;
  color:#555;
  font-size:14px;
}

/* Botão */
button{
  margin:15px;
  width:90%;
  padding:12px;
  background:#1da1f2;
  border:none;
  color:white;
  font-size:16px;
  border-radius:6px;
  cursor:pointer;
}

button:hover{
  background:#0d8ae0;
}